<!DOCTYPE HTML>
<html>
 {%include "head.html"%}
    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <a href="/" class="logo">WHEN THERE ARE NINE</a>
            </header>

            <!-- Nav -->
          		{%include "nav.html"%}

            <!-- Main -->
            <div id="main">

                <!-- Post -->
                <section class="post">
                    <header class="major">
                        {# <span class="date">April 25, 2017</span> #}
                        <h1 id="page-title">{{title |safe}}</h1>
                        <p>{{subtitle}}</p>
                    </header>
                   
                    {{content | safe}}
                </section>

            </div>

            <!-- Footer -->
          {%include "contactEditorsForm.html"%}

            <!-- Copyright -->
            <div id="copyright">
                <ul>
                    <li>Website by <a href="https://www.studio303.dev">Studio303</a></li>
                </li>
            </ul>
        </div>

    </div>

    <!-- Scripts -->
    {%include "scripts.html"%}

</body>
</html>