<nav id="nav">
    <ul class="links" id="nav-ul">
        <li><a class="navLink" href="/">The Project</a></li>
        <li><a class="navLink" href="/rbg/">RBG</a></li>
        <li><a class="navLink" href="/the-poets/">The Poets</a></li>
        <li><a class="navLink" href="/the-editors/">The Editors</a></li>
       <li><a class="navLink" href="/moon-tide-press/">Moon Tide Press</a></li>
        <li><a class="navLink" href="/moon-tide-press/#order-heading">Buy a Copy</a></li>
        
        
    </ul>
    <!-- <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
    </ul> -->
</nav>

