.post {
 
    min-height: 800px;
    margin-bottom: 4rem!important;
}


#poets-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.poets-index-item   {
     background-color: #212931;
     color: white;
     font-size: 18px;
     padding:1rem;
     margin: 1rem;
     /* display: inline; */
     text-transform: uppercase;
     font-weight: bold;
     font-family: Source Sans Pro, Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;

     
}
 
#wrapper > .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #212931;
	background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/backgrounds/omid-armin-NeTAp5yme0A-unsplash.jpg")!important;
	background-size: auto, auto, 100% auto;
	background-position: center, center, top center;
	background-repeat: repeat, no-repeat, no-repeat;
	background-attachment: scroll, scroll, scroll;
	z-index: -1;
}