.post {
 
    min-height: 800px;
    margin-bottom: 4rem!important;
}


#poets-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.poets-index-item   {
     background-color: #212931;
     color: white;
     font-size: 18px;
     padding:1rem;
     margin: 1rem;
     /* display: inline; */
     text-transform: uppercase;
     font-weight: bold;
     font-family: Source Sans Pro, Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;

     
}
 
#wrapper > .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #212931;
	background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/backgrounds/omid-armin-NeTAp5yme0A-unsplash.jpg")!important;
	background-size: auto, auto, 100% auto;
	background-position: center, center, top center;
	background-repeat: repeat, no-repeat, no-repeat;
	background-attachment: scroll, scroll, scroll;
	z-index: -1;
}

ul.actions {
    flex-wrap: wrap;
}
ul.actions li{margin:.5rem 0}

.flexxed {
    display: flex;
    flex-wrap: wrap;
}

#flexxed-editors {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.editor-wrap {
    margin-bottom: 3rem;
}

#event-callout {
    display: flex;
    flex-wrap: wrap;
    /* background-image: url('../../images/backgrounds/omid-armin-NeTAp5yme0A-unsplash.jpg'); */
    background-color: #212931;
    background-position: center;
     align-items: center;
     height: 75px;
    justify-content: center;
    color: white;
    margin-bottom: 5rem;
    margin-top: -2rem;
    
}
#event-callout-heading {
    margin-bottom: 0px;
    color: white;
}

#event-callout-heading-text a {
    color:white;
    border-bottom: 1px dotted white;
}

.floated-paragraph-image {
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    max-width: 95%;
}
		@media screen and (max-width: 840px) {
    .floated-paragraph-image {
    float: none;
    margin: 0 auto 2rem;
    display: block;
}
}