<!DOCTYPE HTML>
 
<html>
{%include head.html%}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1 id="page-title">WHEN THERE ARE NINE</h1>
						<p>A poetry anthology celebrating the life and legacy of Ruth Bader Ginsburg</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">WHEN THERE ARE NINE</a>
					</header>

				<!-- Nav -->
		{%include nav.html%}

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured" style="padding-bottom:0px;">
								<header class="major">
									 <div id="event-callout"><h3 id="event-callout-heading">
										 UPCOMING EVENT:&nbsp;
									 </h3><div id="event-callout-heading-text"><a href="/events">Virtual Release Party!</a></div></div>
									<h2>The Project</h2>
									<!-- <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
									facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
									amet nullam sed etiam veroeros.</p> -->
								</header>
								<!-- <a href="#" class="image main"><img src="images/backgrounds/encourline-D40wrlOAADw-unsplash.jpg" alt="" /></a> -->
								<!-- <h3>THE PROJECT</h3> -->

								<p><img src="images/RBG - FINAL.jpg" alt="" class="floated-paragraph-image"/>One phone call. One poet reaching out to another on the night RBG died, searching for solace,
searching for comfort. While this anthology began in despair, it grew into a call and response.
Soon there were three poets, sharing laughter and stories, reaching out to fellow artists to use
their gifts to record this moment. From Idaho to Ohio, Florida to Nevada, the more than two
dozen talented poets in these pages offered up their passionate responses to Ginsburg’s passing.</p>

<p>Throughout the making of this collection, we found ourselves navigating our own storms and life
changes: we lost and gained jobs, welcomed new foster children, endured surgery after surgery,
suffered from COVID, cared for others suffering from COVID…. And through these challenges,
we reminded each other, Go gentle with yourself, but keep going. Keep going. Keep going
because this work is important. This project—a project of passion and gratitude, embraced by
other artists enduring similar struggles who, nevertheless, put their lives on hold and
contributed—is a collection honoring RBG. It is also a reminder to endure.</p>

<p>Other projects will set for themselves the task of charting the long-term effects of Ginsburg’s
loss on the people and progress of the United States. But her death cut our nation to the quick,
and the poems we’ve gathered here—whether spare, lyrical, shocking, or sad—enact that same
mercilessness upon the reader. These pieces are testaments to the power of poetry in the face of
social upheaval and personal uncertainty. They should be read across cultures and borders,
across time and space, yesterday and tomorrow. Mostly, they should be read now, before the
justice’s death has shifted to the realm of collective memory.</p>
								<ul class="actions special" style="padding-bottom:5rem;">
									<li><a href="/rbg" class="button large">RBG</a></li>
									<li><a href="/the-poets" class="button large">The Poets</a></li>
									<li><a href="/the-editors" class="button large">The Editors</a></li>
									<li><a href="/moon-tide-press" class="button large">Moon Tide Press</a></li>
										<li><a href="/moon-tide-press/#order-heading" class="button large">Pre-Order</a></li>
											<li><a href="#footer" class="button large">Contact Us</a></li>
							
									<!-- <a href="/acknowledgements-permissions">Acknowledgements &amp; Permissions</a> -->
								</ul>
							 
							</article>

						<!-- Posts -->
						
							<!-- <div><section>
								<ul class="actions fit">
									<li>&nbsp;</li>
									<li><a href="#" class="button fit">Purchasing Details</a></li>
									<li>&nbsp;</li>
								</ul>
							 
							</section></div> -->

			 

					</div>

				<!-- Footer -->
			{%include contactEditorsForm.html%}

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>Website by <a href="https://www.studio303.dev">Studio303</a></li></li></ul>
					</div>

			</div>

		{%include scripts.html%}

	</body>
</html>